<section class="sectionform">
    <div class="form">
        <input type="text" placeholder="Introduce el título de la noticia" [(ngModel)]="newPost.title">
        <input type="text" placeholder="Introduce el autor de la noticia" [(ngModel)]="newPost.author">
        <input type="date" placeholder="Introduce la fecha" [(ngModel)]="newPost.date">
        <input type="text" placeholder="Introduce la url de la imagen" [(ngModel)]="newPost.url">
        <textarea name="" id="" rows="10" [(ngModel)]="newPost.body"></textarea>
        <button (click)="guardarPost()">Guardar</button>
    </div>
</section>
