<section class="blog">
    <section class="sectionform">
        <div class="form">
            <input type="text" placeholder="Introduce el título de la noticia">
            <input type="text" placeholder="Introduce el autor de la noticia">
            <input type="date" placeholder="Introduce la fecha">
            <input type="text" placeholder="Introduce la url de la imagen">
            <textarea name="" id="" rows="10"></textarea>
            <button>Guardar</button>
        </div>

    </section>

    <h2>Mis viajes preferidos</h2>
    <hr>
    <div class="grid">
        <article>
            <figure>
                <img src="https://www.costacruceros.es/content/dam/costa/costa-magazine/articles-magazine/travel/crete-travel/creta_m.jpg.image.694.390.low.jpg" alt="Creta">
            </figure>
            <h3>Viaje a la isla de Creta</h3>
            <p>Autor: Ainara Sanchez</p>
            <p>Fecha: 25/02/2025</p>
            <div class="content">
                <p>Lorem ipsum dolor</p>
            </div>
            
        </article>
        <article>
            <figure>
                <img src="https://www.costacruceros.es/content/dam/costa/costa-magazine/articles-magazine/travel/crete-travel/creta_m.jpg.image.694.390.low.jpg" alt="Creta">
            </figure>
            <h3>Viaje a la isla de Creta</h3>
            <p>Autor: Ainara Sanchez</p>
            <p>Fecha: 25/02/2025</p>
            <div class="content">
                <p>Lorem ipsum dolor</p>
            </div>
            
        </article>
        <article>
            <figure>
                <img src="https://www.costacruceros.es/content/dam/costa/costa-magazine/articles-magazine/travel/crete-travel/creta_m.jpg.image.694.390.low.jpg" alt="Creta">
            </figure>
            <h3>Viaje a la isla de Creta</h3>
            <p>Autor: Ainara Sanchez</p>
            <p>Fecha: 25/02/2025</p>
            <div class="content">
                <p>Lorem ipsum dolor</p>
            </div>
            
        </article>
    </div>

</section>